{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
          <span class="section-heading-lower">Te gustará</span>

          
        </h2>
        <p class="mb-3">Espere sentirse como en casa gracias a nuestras habitaciones de gran tamaño con cocina o cocineta, amplios balcones, sala, comedor y todo lo que permite una comodidad sin precedentes.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Compromiso total</span>
            <span class="section-heading-lower">Garantizado</span>
          </h2>
          <p class="mb-0">Reservaciones en Solo Habitación: las tarifas son en base a ocupación doble, están sujetas a cambios sin previo aviso y no incluyen impuestos y/o servicios (19%). Reservaciones Todo Incluido: las tarifas son por persona, incluyen impuestos y/o servicios y están basadas en la ocupación máxima de la habitación.          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}